.section {
    padding: 24px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 8px;
}

.title {
    font-size: 20px;
    font-weight: 600;
    line-height: 1.4;
    color: var(--linkedin-black);
}

.actions {
    display: flex;
    gap: 12px;
    align-items: center;
}

.editBtn {
    color: var(--linkedin-gray);
    padding: 4px;
    border-radius: 50%;
    border: 4px solid transparent;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.editBtn:hover {
    background-color: var(--linkedin-hover);
}